{% extends 'base.html' %}

{% block content %}
<h1>Login</h1>
<form method="POST" action=".">
  {% csrf_token %}
  {{ form.as_p}}
  <input type="submit" value="Submit" />
</form>

<div class="container-fluid container bg-primary display-1">
    1st section
</div>

<div class="container-fluid container bg-secondary display-1">
    2nd section
</div>

<div class="container-fluid container bg-success display-1">
    3rd section
</div>

<div class="container-fluid container bg-warning display-1">
    4th section
</div>

<div class="container-fluid container bg-danger display-1">
    5th section
</div>

<div class="container-fluid container bg-info display-1">
    6th section
</div>

{% endblock %}