{% extends 'base.html' %}

{% block title %}
Browse
{% endblock %}

{% block content %}


<h1>{{header}}</h1>
    {% for location in locations %}
    <div class="card">
        <div class="card" style="width: 100%;">
            <img class="card-img-top" src="{{location.img}}" alt="{{location.name}}">
            <div class="card-body">
            <h5 class="card-title">{{location.name}}</h5>
            <small>Shared by: <a href="/user/{{ location.user.username }}">{{ location.user.username }}</a></small>
            <br /><br />
            <p class="card-text">{{location.description}}</p>
            <a href="{% url 'location_detail' location.pk %}" class="btn btn-primary">Details</a>
            </div>
        </div>
    </div>
    
    {% endfor %}
{% endblock %}